// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$dark-yellow: #FFD008;
$yellow: #FFD008;
$light-yellow: #FFEEA9;
$black: #313131;
$gray: #737373;
$light-gray: #F7F7F7;
$orange: #E67E22;
$green: #1EDD88;
