.inline-container {
  display: flex;
}

.word-container {
  background-color: $yellow;
  padding: 40px;
}

.word-quote-container {
  background-color: white;
  width: 35vw;
  padding: 40px 30px 40px 30px;
}

.word-firstsong-container {
  background-color: $light-gray;
  width: 35vw;
  padding: 50px;
  padding: 40px 30px 40px 30px;
  display: flex;
  text-align: top;
}